extends: default

rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ["true", "false", "on", "off", "yes", "no"]
    check-keys: false
  document-start: disable
  comments:
    min-spaces-from-content: 1

ignore: |
  .venv/
  target/
  dist/
  build/
  .github/
  airflow_home/
