apache-airflow==2.9.3
apache-airflow-providers-amazon==8.25.0
apache-airflow-providers-microsoft-azure==10.0.0
apache-airflow-providers-google==10.20.0
apache-airflow-providers-postgres==5.11.2
apache-airflow-providers-apache-kafka==1.5.0
apache-airflow-providers-openlineage==1.9.1
openlineage-airflow==1.15.0
pydantic==2.7.1
